/* add Google font to style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* Add Style on Top Banner Section */
.bannar{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    display: flex;
    background-color: #2D25A0;
    
}
.bannar-title{
    margin: 207px 102px 169px 120px;
      
}
.bannar-title h1{
    /* width: 485px; */
    color: white;
    font-size: 50px;
}
button{
    width: 168px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    background-color: #E02C6D;
    color: white;
    transition: transform 2s ease-in-out;
}
/* add animation on button */
button:hover{
    transform: scale(1.3);
}
button i{
    position: relative;
    left: 10px;
}
.bannar-img img{
    width: 556px;
    height: 438px;
    margin: 175px 141px 86px 0;
    
}
/* Align conten on center */
main , footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* add style on middle section */
.mid-container{
    width: 100%;
}
.profiles{
    margin-top: 70px;
    margin-right: 210px;
    margin-left: 120px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 27px;
 }

.profile {
    /* height: 457px;
    width: 330px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 10px;
    

}
.picture img{
    height: 256px;
    width: 300px;
    margin-bottom: -20px;
}
.details h1 p{
    font-size: 16px;
    align-items: left; 
}

/* add style on fotter section */
.footer-container{
    
}
.footer-items img{
    width: 484px;
    height: 110px;
    margin-top: 158px;

}
.footer-items p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
/* Add style for font awsome Icone */
.s-icons i{
    margin-right: 22px;
    background-color: #969BAB;
    padding: 8px;
    border-radius: 20px;
    color:rgba(2, 2, 2, 0.397)
}


